@media screen and (min-width: 768px) {
.container{
    max-width: 768px;
}
.subtitle{
    text-align:start;
}
.wrapper{
    flex-direction: row;
    column-gap: 35px;
    row-gap: 72px;
}
/*-----------------------------Header---------------------------------*/
.mobile-menu,
.mobile-menu-btn{
    display: none;
}
.header-logo {
    margin-right: 120px;
}
.site-nav{
    display: flex;
    gap: 40px;
}
.address{
    padding: 16px 0;
}
.address-list{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.nav-link {
   position: relative;
   font-weight: 500;
   color: var(--secondary-color); 
   display: inline-block;
   padding: 24px 0;
   transition: color var(--transition-dur-and-func);
} 
.nav-link.current{
    color: var(--accent-color);
}
.nav-link.current::after{
    position: absolute;
    left: 0;
    bottom: 0;
    content: '';
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404BBF;
}
.address-link {
   font-style: normal;
   color: var(--main-color);
   display: block;
   font-size: 12px;
   line-height: 1.17;
   letter-spacing: 0.04em;
   transition: color var(--transition-dur-and-func);
}
.nav-link:hover,
.nav-link:focus{
    color: var(--accent-color);
}
.address-link:hover,
.address-link:focus{
    color: var(--accent-color);
}
/*-----------------------------/Header---------------------------------*/

/*---------------------------- Hero--------------------------------------------- */
.hero{
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)),
                      url('../images/hero-bg-tab.jpg');
}
@media screen and (min-device-pixel-ratio:2),
screen and (min-resolution: 192dpi),
screen and (min-resolution: 2dppx){
    .hero{
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)),
                      url('../images/hero-bg-tab-2x.jpg'); 
    }
}
.hero-title{
    width: 496px;
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 36px;
}
/*---------------------------- /Hero--------------------------------------------- */

/* -----------------------------Principles of work section-------------------------------------------- */
.principles-item{
     width: calc((100% - 35px) / 2);
}

/* -----------------------------/Principles of work section-------------------------------------------- */

/*------------------------------ Our Team---------------------------------------- */
.team-list{
    column-gap: 24px;
    row-gap: 64px;
}
.team-list{
    justify-content: center;
}
.team-item{
    width: calc((100% - 24px) / 2);
}
.team-subtitle{
    text-align: center;
}
.team-social-list{
    flex-direction: row;
    justify-content: center;
    gap: var(--main-gap);
}
/*------------------------------ /Our Team---------------------------------------- */

/*------------------------------ Customers section -------------------------------------*/
.customers-item{
    width: 168px;
    height: 88px;
}
.customers-list{
    column-gap: 24px;
}
/*------------------------------ /Customers section -------------------------------------*/

/*------------------------------ Footer ----------------------------------------*/
.footer-desc{
    text-align: start;
}
.footer-info{
    max-width: 264px;
    margin-right: 24px;
}
.footer-logo{
    text-align: start;
}
.footer-form-desc{
    margin-left: 120px;
}
.footer-form{
    margin-left: 120px;
    justify-content: flex-start;
    gap: var(--main-gap);
}
.footer-form-input{
    width: 264px;
    font-size: 18px; 
}
/*------------------------------ /Footer ----------------------------------------*/

/*===========================MODAL WINDOW========================== */
.modal{
    width: 408px;
    height: 586px;
    padding-left:  24px;
    padding-right:  24px;
}

/*===========================/MODAL WINDOW========================== */
}
@media screen and (max-width: 1199px) {
.principles-wrapper-icon,
.product{
    display: none;
}
}